#Progress_Status {
  width: 100%;
  background-color: #ddd;
}
  
#myprogressBar {
  width: 1%;
  transition: width 20s;
  height: 20px;
  background-color: #6a4285;
}

#clock {
	height: 8vh;
	width: 100%;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}